# Cloudflare Account ID: https://developers.cloudflare.com/fundamentals/setup/find-account-and-zone-ids/
CLOUDFLARE_ACCOUNT_ID=

# Cloudflare API Token: https://developers.cloudflare.com/workers-ai/get-started/rest-api/
CLOUDFLARE_API_TOKEN=

# Cloudflare AI Gateway: https://developers.cloudflare.com/ai-gateway/get-started/creating-gateway/
CLOUDFLARE_AI_GATEWAY_ENDPOINT=https://gateway.ai.cloudflare.com/v1
CLOUDFLARE_AI_GATEWAY_URL_SLUG=
CLOUDFLARE_AI_GATEWAY_PROVIDER=workers-ai